
body {
    background: #6c373f;
    display: flex;
    justify-content: center;
    }
  
  #alice-container {
    width: 90vh;
    display: grid;
    place-items: center;
    grid-template-areas:
      "a1 . ."
      ". a2 ."
      ". . a3";
  }
  
  #alice1 {
    grid-area: a1;
  }
  
  #alice2 {
    grid-area: a2;
  }
  
  #alice3 {
    grid-area: a3;
  }
/* #alice1{
    animation: AliceTumbling  3s;
    animation-fill-mode: forwards;
}  

@keyframes AliceTumbling{
    0%{
        color: black;
        transform:  rotate(0)scale(1);
    }
    30%{
        color: black;
    }
    100%{
        color: black;
        transform: rotate(360deg) scale(0);
    }
} */